* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 56.25rem;
    height: 100%;
    margin: 0 auto;
    padding-left: 6.25rem;
    padding-right: 6.25rem;
    background-color: beige;
}

.bayan__box {
    cursor: pointer;
}

.bayan__title {
    font-size: 2.375rem;
    margin-bottom: .625rem;
}

.bayan__trigger {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.25rem 0;
    border-top: 1px solid #c3c3c3;
    cursor: pointer;
}

.bayan__btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.bayan__btn>span {
    display: inline-block;
    color: blue;
    font-size: 1.25rem;
}

.bayan__btn>img {
    display: none;
    width: 1rem;
    height: 1rem;
    transition: transform 0.3s ease;
}

.bayan__target {
    display: flex;
    max-height: 0;
	overflow: hidden;
    justify-content: center;
    transform: scale(0);
    opacity: 0;
    transition: all scale 0.3s ease;
}

.bayan__target>img {
    max-width: 18.75rem;
    border: .125rem solid #fff;
    border-radius: .9375rem;
}

.bayan__toggle:checked ~.bayan__trigger>.bayan__target {
    max-height: 100%;
	padding-top: 1.25rem;
    overflow: visible;
    transform: scale(100%);
    opacity: 1;
}

.bayan__toggle:checked ~.bayan__trigger>.bayan__btn>span {
    color: #000;
}

.bayan__toggle:checked ~.bayan__trigger>.bayan__btn>img {
    transform: rotate(135deg);
}


@media(hover:hover){
    .bayan__target>img:hover{
        border: .1875rem solid #3e3e3e;
        box-shadow: .3125rem .3125rem 0.625rem rgba(0,0,0,0.7);
    }
    
    .bayan__box:hover ~.bayan__trigger>span {
        color: #000;
    }
    
    .bayan__box:hover .bayan__btn>img {
        display: block;
    }
    
    .bayan__box:hover .bayan__btn>span {
        color: #000;
    }


    .bayan__toggle:hover ~.bayan__trigger>.bayan__target {
        max-height: 100%;
        padding-top: 1.25rem;
        overflow: visible;
        transform: scale(100%);
        opacity: 1;
    }


    .bayan__toggle:hover ~.bayan__trigger>.bayan__btn>img {
        transform: rotate(135deg);
    }
    
    .bayan__toggle:active ~.bayan__trigger>.bayan__target {
        opacity: 0.7;
    }
}

@media(max-width: 51.25rem) {
    .container {
        width: 31.25rem;
        padding-left: 3.125rem;
        padding-right: 3.125rem;
    }

    .bayan__title {
        font-size: 32px;
    }

    .bayan__trigger {
        font-size: 1rem;
    }

    .bayan__btn>span{
        font-size: 1rem;
    }

    .bayan__btn>img {
        width: .875rem;
        height: .875rem;
    }

    .bayan__target>img {
        max-width: 15.625rem;
    }
}

@media(max-width: 20rem) {
    .container {
        width: 15.625rem;
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }

    .bayan__title {
        font-size: 1.75rem;
    }

    .bayan__trigger {
        font-size: .875rem;
    }

    .bayan__btn>span{
        font-size: .75rem;
    }

    .bayan__btn>img {
        width: .75rem;
        height: .75rem;
    }

    .bayan__target>img {
        max-width: 12.5rem;
    }
}