* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 43.75rem;
    height: auto;
    margin: 0 auto;
    padding-left: 3.125rem;
    padding-right: 3.125rem;
    background-color: beige;
}

.bayan__title {
    margin-bottom: .625rem;
}

.bayan__trigger {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.bayan__btn {
    font-size: 1.125rem;
    color: blue;
    width: 100%;
    padding: .625rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: .0625rem solid rgb(116, 116, 103);
}

.bayan__btn>img {
    height: 1rem;
    width: 1rem;
}

.bayan__target {
    height: 0;
    object-fit: cover;
    width: auto;
    transform: scale(0);
    transition: all 0.3s ease;
}

.bayan__toggle:checked ~ .bayan__trigger >.bayan__target{
    height: 18.75rem;
    transform: scale(100%);
}

.bayan__toggle:hover ~ .bayan__trigger >.bayan__target{
    height: 18.75rem;
    transform: scale(100%);
}

